header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

.temp-Type{
    text-align: center;
}

.temp-result{
    
    text-align: center;
    font-size: 25px;
    font-weight: bold;  
    /* coold background-color: rgb(127, 208, 255);*/
    /* hot background-color: rgb(207, 84, 84);*/
    /* normal background-color: rgb(198, 212, 212);*/
}

.cold-temp{
    background-color: rgb(127, 208, 255);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.normal-temp{
    background-color: rgb(198, 212, 212);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.hot-temp{
    background-color: rgb(224, 60, 60);
    color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}